// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap

@import '~bootstrap/scss/bootstrap';

#app{
  padding-top: 50px;
}

.element{
  padding: 10px;

}


.element:nth-child(2n){
  background: rgba(0,0,0,0.2);
}

.element:hover, .element.focus{
  background: rgba(0,0,255,0.3);

}
